<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<depends plugin-name="com.iver.cit.gvsig" />
	<depends plugin-name="org.gvsig.publish" />
	<libraries library-dir="."/>
	<resourceBundle name="text"/>
	<extensions>
		<extension class-name="org.gvsig.publish.mapserver.MapserverExtension"
			description="MapserverPublish Extension"
			active="true"
			priority="1">
		</extension>		
	</extensions>
</plugin-config>