<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<libraries library-dir="."/>
	<depends plugin-name="com.iver.cit.gvsig" />
	<resourceBundle name="text"/>
	<extensions>

		<extension class-name="es.prodevelop.cit.gvsig.jdbc_spatial.ExportOracleExtension"
			description="Support to access Oracle Spatial databases" active="true">

			<menu text="Capa/export_to/oracle_spatial"
			action-command="EXPORT_TO_ORACLE_SPATIAL"
			icon="images/oracle.png"
			position="400" />
		</extension>

		<extension class-name="es.prodevelop.cit.gvsig.jdbc_spatial.NewOracleSpatialTableExtension"
			description="Support to create new  Oracle Spatial tables" active="true">
			<menu text="Vista/new_layer/new_oracle_spatial_table" action-command="NEW_ORACLE_SPATIAL"
			icon="images/oracle.png" />
		</extension>

	</extensions>
</plugin-config>