bin
bin-test
.settings
.classpath
.project
.externalToolBuilders
maven-eclipse.xml
binaries/linux/*so*
extensions/extJDBC/dist/
extensions/extOracleSpatial/dist/
extensions/extRasterTools-SE/dist/
frameworks/_fwAndami/cachedir/
frameworks/_fwAndami/gvSIG/
libraries/libFMap/dist/
libraries/libInternationalization/bin-utils/
target
libraries/persistence/src/main/java/org/gvsig/persistence/generated/
libraries/persistence/src/main/java/META-INF/sun-jaxb.episode
