<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<libraries library-dir="."/>
	<depends plugin-name="com.iver.cit.gvsig"/>
	<depends plugin-name="com.iver.cit.gvsig.cad"/>
	<depends plugin-name="com.iver.core"/>
	<depends plugin-name="org.gvsig.quickInfo"/>
	<resourceBundle name="text"/>
	<extensions>
		<extension class-name="es.iver.derivedGeom.AboutDerivedGeomExtension"
                description="Derivated Geometries Extension of the Consejería de Medio Ambiente of the Junta de Castilla y León."
                active="true"
                priority="1">
		</extension>
		<extension class-name="es.iver.derivedGeom.AddDerivedGeometrySHPExtension"
			description="Extension for create a new shape layer with derivative geometries."
			active="true"
			priority="30">
			<menu text="Capa/add_derivative_geometry_shp"
				action-command="ADD_DERIVATIVE_GEOMETRY_SHP"
				icon="images/create-derivative-geometry-shape-icon.png" />
		</extension>
	</extensions>
</plugin-config>
