<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<depends plugin-name="com.iver.cit.gvsig" />
	<depends plugin-name="com.iver.cit.gvsig.cad"/>
	<depends plugin-name="org.gvsig.extended-symbology"/>
	<libraries library-dir="lib"/>
    <resourceBundle name="text"/>
	<extensions>
		<extension class-name="com.iver.cit.gvsig.Annotation_AboutExtension"
			description="Annotation about extension"
			active="false"
			priority="1">
		</extension>
		<extension class-name="com.iver.cit.gvsig.Annotation_Extension"
			description="Annotation extension"
			active="true"
			priority="1">

			<menu text="Capa/export_to/annotation" action-command="ANNOTATIONLAYER"
				priority="999"
				position="100"
				/>
			<menu text="Capa/export_to" is_separator="true"
				position="2"
				/>

		</extension>
		<extension class-name="com.iver.cit.gvsig.Annotation_ToolExtension"
			description="Annotation tool extension"
			active="true"
			priority="2">

			<menu text="Capa/modify_annotation" action-command="MODIFYANNOTATION" icon="ext-annotation"
				priority="2"/>
			<tool-bar name="annotation_tools" position="6">
				<selectable-tool icon="ext-annotation" action-command="MODIFYANNOTATION"  tooltip="modify_annotation" position="2"/>
			</tool-bar>
		</extension>
		<extension class-name="org.gvsig.tools.annotations.labeling.SingleLabelingExtension"
			description="Extension to show and customize labels that will
			             pop up over the feature that is clicked over
			             (available since v2.0)."
			active="true"
			priority="20">
			<menu text="Capa/Single_labeling" action-command="SINGLE_LABELING_TOOL" icon="single-labeling-tool"
				priority="2"/>
			<tool-bar name="annotation_tools" position="6">
				<selectable-tool name="single labeling tool" icon="single-labeling-tool" action-command="SINGLE_LABELING_TOOL" tooltip="Single_labeling" position="1"/>
			</tool-bar>
		</extension>
	</extensions>
</plugin-config>
