<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<libraries library-dir="."/>
	<depends plugin-name="com.iver.cit.gvsig"/>
	<resourceBundle name="text"/>
	<extensions>
		<extension class-name="org.gvsig.hyperlink.LinkControls"
			description="Manages the advanced hyperlink."
			active="true"
			priority="20">
			<menu text="Capa/Advanced_Hyperlink" action-command="HYPERLINK" icon="images/Link.png" position="5040"/>
			<tool-bar name="View_Tools_Query" position="5">
				<selectable-tool icon="view-query-link" action-command="HYPERLINK"  tooltip="Advanced_Hyperlink" position="7"/>
			</tool-bar>
		</extension>
	<!-- 	<extension class-name="org.gvsig.hyperlink.LinkConfigExtension"
			description="Manages the advanced hyperlink."
			active="true"
			priority="10"
			enable-text="Select one vectorial layer in TOC to activate">
			<menu text="Capa/Hyperlink_settings" action-command="LINK_SETTINGS" icon="view-query-link" position="5045"/>
		</extension> -->
	</extensions>
</plugin-config>
