<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<libraries library-dir="."/>
	<depends plugin-name="com.iver.cit.gvsig"/>
	<depends plugin-name="com.iver.cit.gvsig.cad"/>
	<depends plugin-name="com.iver.core"/>
	<depends plugin-name="com.iver.cit.gvsig.geoprocess"/>
	<resourceBundle name="text"/>
	<extensions>
		<extension class-name="org.gvsig.selectionTools.AboutSelectionToolsExtension"
                description="Extension Selection Tools of the Consejería de Medio Ambiente of the Junta de Castilla y León Project."
                active="true"
                priority="1">
		</extension>
		<extension class-name="org.gvsig.selectionTools.SelectAllExtension"
			description="Extension that allows select all geometries of the selected vectorial layers."
			active="true"
			priority="30">
			<menu text="Vista/seleccion/select_all"
				action-command="SELALL"
				tooltip="select_all_info"
				icon="images/select-all-icon.png"
				position="6570"/>
		</extension>
		<extension class-name="org.gvsig.selectionTools.SelectByCircleExtension"
			description="Extension that allows select all geometries of the selected vectorial layers that are contained or intersect with a circle defined by the user."
			active="true"
			priority="30">
			<menu text="Vista/seleccion/select_by_circle"
				action-command="SELCIRCLE"
				tooltip="select_by_circle_info"
				icon="select-by-circle-icon"
				position="6521"/>
			<tool-bar name="Tools_Select" position="6">
				<selectable-tool icon="select-by-circle-icon" action-command="SELCIRCLE" tooltip="select_by_circle" position="6"/>
			</tool-bar>
		</extension>
		<extension class-name="org.gvsig.selectionTools.SelectByPolylineExtension"
			description="Extension that allows select all geometries of the selected vectorial layers that intersect with a polyline defined by the user."
			active="true"
			priority="30">
			<menu text="Vista/seleccion/select_by_polyline"
				action-command="SELPOLYLINE"
				tooltip="select_by_polyline_info"
				icon="select-by-polyline-icon"
				position="6531"/>
			<tool-bar name="Tools_Select" position="6">
				<selectable-tool icon="select-by-polyline-icon" action-command="SELPOLYLINE" tooltip="select_by_polyline" position="5"/>
			</tool-bar>
		</extension>
		<extension class-name="org.gvsig.selectionTools.SelectByBufferExtension"
			description="Extension that allows select all geometries of the selected vectorial layers that intersect with a buffer around their previously selected geometries."
			active="true"
			priority="30">
			<menu text="Vista/seleccion/select_by_buffer"
				action-command="SELBUFFER"
				tooltip="select_by_buffer_info"
				icon="select-by-buffer-icon"
				position="6532"/>
			<tool-bar name="Tools_Select" position="6">
				<action-tool icon="select-by-buffer-icon" action-command="SELBUFFER" tooltip="select_by_buffer" position="7"/>
			</tool-bar>
		</extension>
	</extensions>
</plugin-config>
