<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<libraries library-dir="."/>
	<depends plugin-name="com.iver.cit.gvsig"/>
	<resourceBundle name="text"/>
	<extensions>
		<extension class-name="org.gvsig.chartlegend.ChartExtension"
			description="Extensión que añade los simbolos y leyendas de diagramas."
			active="true">
		</extension>
		<extension class-name="org.gvsig.table.TableToImageExtension"
			description="Convertir una tabla en imagen."
			active="true">
			<menu text="Tabla/exportar_a_imagen"
				tooltip="exportar_a_imagen"
				action-command="TABLE_TO_IMAGE" icon="images/table_go.png"/>
			<tool-bar name="Herramientas">
				<action-tool icon="images/table_go.png" tooltip="exportar_a_imagen"
					action-command="TABLE_TO_IMAGE" />									
			</tool-bar>
		</extension>
	</extensions>
</plugin-config>