<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<libraries library-dir="./lib">
	</libraries>
	<depends plugin-name="com.iver.cit.gvsig"/>
	<depends plugin-name="com.iver.cit.gvsig.geoprocessextensions"/>
	<depends plugin-name="com.iver.cit.gvsig.cad"/>
		<resourceBundle name="text"/>
	<extensions>
		<extension class-name="org.gvsig.graph.GenerateNetworkExtension"
			description="Generate Network Extension for gvSIG."
			active="true">
			<menu text="Network/Create_Network"	tooltip="Generar_Red"
				action-command="GENERATE_RED"
				icon="build_graph"
				position="450" />

		</extension>
		<extension class-name="org.gvsig.graph.LoadDefaultNetworkExtension"
			description="Load Network for gvSIG."
			active="true">

			<menu text="Network/Load_Network"	tooltip="Load_Red"
				action-command="LOAD_NET"
				icon="network" />

		</extension>
		<extension class-name="org.gvsig.graph.LoadNetworkExtension"
			description="Load Network for gvSIG."
			active="true">

			<menu text="Network/Load_Network_From_File"	tooltip="Load_Red_From_File"
				action-command="LOAD_NET_FROM_FILE"
				icon="network" />
				
		</extension>
		
		<extension class-name="org.gvsig.graph.ManageFlagsExtension"
			description="Manage flags."
			active="true">
			<menu text="Network/Manage_Flags"	tooltip="Manage_Flags"
				action-command="MANAGE_FLAGS"
				icon="manage_flags" />
			
		</extension>
		<extension class-name="org.gvsig.graph.AddLayerNodesExtension"
			description="Load nodes as a layer."
			active="true">
			<menu text="Network/load_layer_nodes"	tooltip="load_layer_nodes"
				action-command="LOAD_NODES" />
			
		</extension>

		<extension class-name="org.gvsig.graph.LoadTurnCostsExtension"
			description="Load turn costs."
			active="true">
			<menu text="Network/Load_TurnCosts"	tooltip="Load_TurnCosts"
				action-command="LOAD_TURNCOSTS"
				/>
			
		</extension>
		<extension class-name="org.gvsig.graph.SaveTurnCostsExtension"
			description="Save turn costs."
			active="true">
			<menu text="Network/Save_TurnCosts"	tooltip="Save_TurnCosts"
				action-command="SAVE_TURNCOSTS"
				/>
			
		</extension>
		
		<extension class-name="org.gvsig.graph.ShortestPathExtension"
			description="Shortest path"
			active="true">
			<menu text="Network/separator" is_separator="true"/>

			<menu text="Network/Shortest_Path"	tooltip="Shortest_Path"
				action-command="SHORTEST_PATH"
				icon="shortest_path" />
			<tool-bar name="Networks">
				<action-tool icon="shortest_path"
					action-command="SHORTEST_PATH"
					tooltip="shortestpath"
					position="1"/>
			</tool-bar>

		</extension>

		<extension class-name="org.gvsig.graph.ServiceAreaExtension"
			description="Service Area"
			active="true">
<!--			<menu text="Network/Service_Area/Label_Network"	tooltip="Label the whole network"
				action-command="LABEL_NODE_DISTANCES"
				icon="service_area" /> -->
			<menu text="Network/Service_Area"	tooltip="Service_Area"
				action-command="SERVICE_AREA"
				icon="service_area" />
<!--  			<menu text="Network/Prueba_Wizard_Service_Area"	tooltip="Prueba Wizard Service_Area"
				action-command="PRUEBA_WIZARD_SERVICE_AREA"
				icon="service_area" /> --> 

		</extension>
		
		<extension class-name="org.gvsig.graph.ClosestFacilityExtension"
			description="Closest Facility"
			active="true">
			<menu text="Network/Closest_Facility"	tooltip="Closest Facility"
				action-command=""
				icon="closest_facility" />

		</extension>
		
		<extension class-name="org.gvsig.graph.ODMatrixExtension"
			description="ODMATRIX"
			active="true">
			<menu text="Network/ODMatrix" icon="odmatrix" action-command="ODMATRIX"/> 
		</extension>
		<extension class-name="org.gvsig.graph.MinimumSpanningTreeExtension"
			description="Calculate_MST"
			active="true">
			<menu text="Network/Minimum_spanning_tree" icon="mst"
			 action-command="MST"/> 
		</extension>
		<extension class-name="org.gvsig.graph.ConnectivityExtension"
			description="CONNECTIVITY"
			active="true">
			<menu text="Network/Connectivity" icon="connectivity" action-command="CONNECTIVITY"/> 
		</extension>


		<extension class-name="org.gvsig.graph.ClearRouteExtension"
			description="Remove routes"
			active="true">
			<menu text="Network/separator" is_separator="true"/>
			<menu text="Network/Clear/Clear_Routes" action-command="CLEAR_ROUTES"  />
		</extension>
		<extension class-name="org.gvsig.graph.ClearFlagsExtension"
			description="Remove routes"
			active="true">
			<menu text="Network/Clear/Clear_Flags" action-command="CLEAR_FLAGS"  />
		</extension>
		<extension class-name="org.gvsig.graph.ClearBarriersExtension"
			description="Remove barriers"
			active="true">
			<menu text="Network/Clear/Clear_Barriers" action-command="CLEAR_BARRIERS"  />
		</extension>


		<extension class-name="org.gvsig.graph.NetworkAddFlag"
			description="Flags"
			active="true">
			<tool-bar name="Networks">
				<selectable-tool icon="add_flag_on_arc"
					action-command="ADD_FLAG_TO_NETWORK"
					tooltip="put_flag_on_arc"
					position="2"/>
				<selectable-tool icon="add_flag_on_node"
					action-command="ADD_FLAG_TO_NODE"
					tooltip="put_flag_on_node"
					position="3"/>
				<selectable-tool icon="no_way"
					action-command="ADD_BARRIER"
					tooltip="put_barrier"
					position="4"/>
				<selectable-tool icon="turncost"
					action-command="ADD_TURNCOST"
					tooltip="put_turncost"
					position="5"/>
					
			</tool-bar>
		</extension>
		<!--  <extension class-name="org.gvsig.graph.TinExtension"
			description="TIN"
			active="true">

			<menu text="TIN/Create_TIN"	tooltip="Create_TIN"
				action-command="TIN"
				icon="network" />
		</extension> -->
		
		<!-- <extension class-name="org.gvsig.graph.TopologyExtension"
			description="Extensión para crear topología."
			active="true">
			<menu text="Capa/Topology_Test/Clean_Test" action-command="CLEAN"/>
			<menu text="Capa/Topology_Test/Show Errors" action-command="SHOW_ERRORS"/>
			<menu text="Capa/Topology_Test/Triangulation_Test" action-command="TRIANGULATION"/>
		</extension> -->

		<!-- <extension class-name="com.iver.cit.gvsig.topology.lineclean.RegisterGeoprocessPlugin"
			description="Extensiones de geoprocesamiento"
			active="true" /> -->

		<extension class-name="org.gvsig.AboutGraphExtension"
			description="Extension to add about panel."
			active="true"/>
	</extensions>
</plugin-config>