<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<libraries library-dir="."/>
	<depends plugin-name="com.iver.cit.gvsig"/>
	<resourceBundle name="text"/>
	<extensions>
		<extension class-name="es.iver.quickPrint.TemplateExtension"
			description="Allows to directly print a View, by using a predefined template"
			active="true"
			priority="30">
			<menu text="Vista/Quick_Print"
				position="80600"/>
		</extension>
	</extensions>
</plugin-config>
