<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<libraries library-dir="."/>
	<depends plugin-name="com.iver.cit.gvsig"/>
		<resourceBundle name="text"/>
	<extensions>
		<extension class-name="com.iver.gvsig.datalocator.DataLocatorExtension"
			description="Extensión que permite hacer zooms en función de los valores de la base de datos. También permite guardar y recuperar estos zooms."
			active="true">
			<menu text="Vista/Localizador_por_atributo"
				key="f"
				position="14"
				action-command="DATALOCATOR"
				icon="view-locator" />
			<menu text="Vista/Localizador_por_atributo"
				position="15"
				is_separator="true"
				/>
			<tool-bar name="Herramientas_localizador" position="4">
				<action-tool icon="view-locator"
					action-command="DATALOCATOR" tooltip="Localizador_por_atributo"
					enable-text="Localizador_por_atributo"
					position="2"/>
			</tool-bar>
		</extension>
	</extensions>
</plugin-config>
