/* standards compliant stylesheet with advanced layout and formatting */

/* =======[ global ]======= */

body{
	background: #fff url(/images/topTile9.gif) repeat-x;  /* topTile145.gif is too long*/
	font-family: verdana, arial, helvetica;
	color: #000000;
	font-size: 78%;
	margin: 0;
	padding: 0;
	}
body.popup{
	background-image: none;
	background-color: #3B855E;
	}
.footer{
	font-size: .9em;
	color: #a9a9a9;
	/*height: 40px;*/
	/*width: 100%;*/
	padding-top: 13px;/* for IE */
	margin-top: 13px; /* for FF */
	clear: both;
	text-align: center;
	line-height: 1.5em;
	/*background-color: #F7F3E8;*/
	/*border-left: 1px solid #DBCB9E;
	border-right: 1px solid #A4B97F;
	background: #F7F3E8 url(../graphics/footer50.gif) bottom left repeat-x;
	margin-left: 150px;*/
	margin-bottom: 25px;
	}
.footer1{ /* used for printing */
	/*background-image: url(/common/style/graphics/bottomNotch1.gif);
	background-repeat: no-repeat;*/
	font-size: .9em;
	color: #cccccc;
	height: 40px;
	width: auto;
	padding-top: 10px;
	/*padding-left: 200px;*/
	padding-left: 50px;
	clear: both;
	}
.adminBody{
	background: #F2F8F5 none;
	font-family: verdana, arial, helvetica;
	color: #000000;
	font-size: 78%;
	margin: 0;
	padding: 0;
	}
	
/* =======[ positioning ]======= */
.col1{
	/*position: absolute;
	top: 95px;
	left: 0px;
	z-index: 20;	
	height: auto;*/
	vertical-align: top;
	background-image: url(/common/style/graphics/lcolBack.gif);
	background-repeat: repeat-y;
	width: 175px;
	}
div.col1{
	position: relative;
	top: -30px !important;
	top: -32px;
	float: left;
	}
.col1b{
	position: absolute;
	top: 128px;
	left: 8px;
	z-index: 20;	
	vertical-align: top;
	width: 200px;
	}	
.col3{
	float: right;
	width: 181px;
	vertical-align: top;
	font-size: .9em;
	margin: 5px 0px 10px 10px;
	}
	
/* =======[ links ]======= */
a, a:link{
	color: #08684F;        /*   #0A8164 #0A8161   285B40;*/
	text-decoration: underline;
	}
a:visited{
	color:  #863502;      /* 7F682F 863502 #899C75  21B17D;*/
	text-decoration: underline;
	}
a:hover{
	color:  #B66532;      /*#C18458   000000; */
	text-decoration: underline;
	}
div.utility a,
div.utility a:link,
div.utility a:visited{
	font-size: .8em;
	color: #136137; /*#99CEB2; #86CFA9;*/
	text-decoration: none;
	}
div.utility a:hover{
	color: #000000;
	}
div.browse{
	line-height: 1.5em;
}

/* =======[ forms ]======= */	
form input{
	font-family: verdana, arial, helvetica;
	}
.button,
.btn{
	text-decoration: none;
	background-color: #229F72;
	font-size: 0.95em;
	color: #FFFFFF;
	border: 1px solid #136137;
	margin: 3px;
	padding: 2px 6px !important;
	padding: 0;
	}
.buttonOn,
.btnOn{
	text-decoration: none;
	background-color: #E7E195;
	color: #000000;
	font-size: 0.95em;
	border: 1px solid #136137;
	margin: 3px;
	padding: 2px 6px !important;
	padding: 0;
	}
	
/* =======[ tables ]======= */	
td,
th{
	font-size: x-small;  /*this hack is for a ie5.5 bug with font-size inheritance*/
	voice-family: "\"}\""; 
	voice-family:inherit;
	font-size: 0.95em;
	}
/* class=columns will place shaded header and spaced cells*/
/* used for system requirements, etc. */
table.columns{
	width: 100%;
	border-collapse: separate;
	width: auto;
	text-align: left;
	margin-bottom: 20px;
	border: 1px solid #C5855C;
	}
table.columns th,
table.columns td{
	/*font-size: .95em;*/
	font-weight: normal;
	line-height: 1.5em;
	padding: .5em 1em;
	}
table.columns th{
	vertical-align: top;
	background-color: #F2F8F5; /*#F7F3E9;*/
	margin: 1px;
	}
/* class=columns2 will place shaded header and spaced cells*/
/* used for search help */
table.columns2{
	width: 100%;
	border-collapse: collapse;
	width: auto;
	text-align: left;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	}
table.columns2 th,
table.columns2 td{
	line-height: 1.5em;
	padding: .5em .5em;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	}
table.columns2 th{
	vertical-align: top;
	background-color: #F2F8F5;
	margin: 1px;
	}
/* class=form used for formatting form elements with left-hand labels */
table.form{
	border-collapse: collapse;
	}
table.form td{
	padding: .5em;
	vertical-align: middle;
	}	
table.form td.label{
	text-align: right;
	}
	/* class=form used for formatting form elements with left-hand labels */
table.artForm{
	border-collapse: collapse;
	font-size:14px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	}
table.artForm td{
	padding: .5em;
	vertical-align: middle;
	}	
table.artForm td.label{
	text-align: right;
	}
/* class=selection used for search results categories only */	
table.plain	{
	border-collapse: collapse;
	margin: 0 0 20px 0;
	}
table.selection th,
table.selection td{
	padding: 4px;
	}
.docMeta{
	margin-bottom: 20px;
	}
.docMeta th{
	font-weight: normal;
	font-style: italic;
	}
	
/* =======[ lists ]======= */		
ul{
	list-style-type: none;
	list-style-image: url(/images/squareBullet.gif);
	list-style-position: outside;
	margin-top: 2px;
	margin-bottom: 1.75em;
	}
ul.spaced li{
	margin-bottom: 1.5em;
	}
ol{
	list-style-position: outside;
	margin-top: 2px;
	margin-bottom: 1.75em;
	}
.item ul,
.LSItem ul{
	margin-left: .5em;
	padding: 1em 1em 0 1em;
	}
.announcement ul{
	margin-left: 2em;
	padding: 1em 1em 0 1em;
	}
.item li{
	margin-bottom: 1em;
	}
.linkGroup li{
	margin-bottom: 1.5em;
	}
.subColumn ul{
	margin-top: .25em;
	margin-left: 0em;
	margin-right: 10px;
	padding-left: 0.75em;
	}
ul.flushLeft{
	margin-left: 0px;
	padding-left: 16px !important;
	padding-left: 20px;
	}
div.latestItems ul{
	list-style-type: none;
	list-style-image: url(/common/style/graphics/arrowhead1.gif);
	list-style-position: outside;
	}
.crumbs ul, .crumbs li{
	display: inline;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	}
	
/* =======[ headers ]======= */
.content h1, .content5 h1{ /*homepage header only */
	font-size: 1.4em;
	color: #000;  /*#C4845D*/
	/*margin-top: 20px;*/
	text-align: left;
	}
.getStarted h1{
	color: #56A781;
	background-color: transparent;
	border-bottom: 1px dotted #A7BDAE;
	font-size: 1em;
	font-weight: bold;
	padding: 5px 20px;
	margin: 0px;
	}	
div.col3 div.announcement h1{
	color: #000000;
	background-color: #E7DFC7;  /*F3EEDE*/
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #A7BDAE;
	font-size: 1em;
	font-weight: bold;
	padding: 5px 10px;
	margin: 0px;
	}
h2,
h2.squeeze{ 
	font-size: 1.4em;
	color: #000000;
	background-image: url(/common/style/graphics/dottedLine.gif);
	background-position: bottom left;
	background-repeat: repeat-x;
	padding-bottom: 4px;
	margin-top: 10px;
	margin-bottom: 14px;
	}
h3{ /* latest items header */
	font-size: 1.2em;
	color: #000000;
	border-bottom: 1px solid #A7BDAE;
	margin: 0px 0px;
	}
h4{ /*subColumns, sideColumns */
	font-size: 1em;
	color: #000000;
	padding: 0;
	margin: 2px 0px;
	}
.content4 h4{
	margin-top: 10px;
	}
.item h4{
	border-bottom: 1px solid #A8BFAF;
	background-color:#F3EEDE;
	color: #B56533;
	font-weight: bold; 
	padding: .25em 1em;
	}
div.group h4{
	color: #666666;
	margin-bottom: 8px;
	}
.item{
	background-color: #FFFFFF;
	border: 1px solid #A8BFAF;
	position: relative;
	margin-bottom: 4px;
	}
.item p{
	padding: .25em 1em;
	}
.content p,
.content2 p{
	font-size: 1em;	
	margin-top: 0;	
	line-height: 1.5em;
	}
.error{
	background-color: #E7E195;
	color: #000000;
	font-size: .9em;
	border: 1px solid #136137;
	padding: 5px;
	margin: 3px;
	display: none;
	z-index: 1000;
	}
.error .col{
	float: left;
	text-align: left;
	margin-left: 4px;
	}
div.group{ /* used for data tables, content forms */
	background-color: #F2F8F5;
	font-size: 1em;
	border: 1px solid #A7BDAE;
	padding: 10px;
	margin: 4px 0 12px 0;
	/*width: 100%;*/
	}
div.group .subColumn{
	margin-right: 5px;
	padding: 0 1em;
	}
div.group2{ /* used for links, columns */
	background-color: #FFFFFF;
	border: 1px solid #96A0A9;
	padding: 3px;
	margin: 4px 0;
	width: 100%;
	}
div.group2 h4{
	color: #96A0A9;
	}
.squeeze{
	letter-spacing: -1px;
	}
div.header{
	/*width: 760px;*/
	}
.holder{
	width: 780px;
	margin-top: 65px;
	}
.holder5{
	width: 100%;
	margin-top: 60px;
	}	
.content{
	font-size: inherit;
	background-color: #FFFFFF;    /* still need this for the Admin pages */
	vertical-align: top;
	text-align: left;
	padding: 10px 0px 15px 0px;
	width: 809px;
	voice-family: "\"}\""; 
	voice-family:inherit;
	width: 780px; /* here's the real width */
	min-height: 600px;
	}
div.content{
	padding: 10px 0px 15px 10px;
	margin: 5px 0px 0 0px;
	/*min-height: auto;*/
	width: 780px;
	}
.content2{
	vertical-align: top;
	text-align: left;
	padding: 10px 0px 15px 25px;	
	width:809px;
	voice-family: "\"}\""; 
	voice-family:inherit;
	width:780px; /* here's the real width */
	/*min-height: 600px;*/
	}
div.content2{
	padding: 10px 0px 15px 15px;
	margin: 5px 10px 0 10px;
	/*min-height: auto;*/
	width: 780px;
	}
.content5{ /* liquid */
	background-color: #FFFFFF;
	font-size: inherit;
	vertical-align: top;
	text-align: left;
	padding: 10px 0px 15px 0px;
	width: 100%;
	min-height: 600px;
	}
div.content5{
	padding: 10px 0px 15px 0px;
	margin: 5px 10px 0 15px;
	width: 95%;
	}
* html #search div.content2 {
  overflow-x: auto; overflow-y: hidden; 
 	}	 
.content3{ /* wide left-side margin for floated add-ons */
	z-index: 5;
	font-size: 1em;
	vertical-align: top;
	text-align: left;
	/*padding: 10px 0px 15px 230px;*/
	padding: 10px 0px 15px 15px;
	width:809px; /* box-model hack for ie5.5*/
	voice-family: "\"}\""; 
	voice-family:inherit;
	width:780px; /* here's the real width */
	min-height: 600px;
	}
.content4{ /* articles*/
	z-index: 5;
	font-size: 1em;
	vertical-align: top;
	text-align: left;
	padding: 10px 0px 15px 40px;
	width:800px; /* box-model hack for ie5.5*/
	voice-family: "\"}\""; 
	voice-family:inherit;
	width:700px; /* here's the real width */
	min-height: 600px;
	}
.blueBox{
	padding: 0px 6px 6px 6px;
	border: 1px solid #A7BDAE;
	}
.subHeading{
	font-weight: normal;
	margin-bottom: 3px;
	}
.prodIcon{ /* used for positioning the product icon on the software (filtered) pages*/
	position: relative;
	top: -50px;
	left: -10px;
	z-index: 30;
	}
div.spacer{ /* used after floated elements in a group */
	clear: both;
	}
.spec{
	font-size: .9em;
	color: #666666;
	}
.subColumn{	/*specify width with inline style declaration*/
	padding: 0 5px 0 2px;
	float: left;
	}
/*div.subColumn div{
	margin-top: 10px;
	}*/
.format{
 	display: inline;
	}
.nonStandard{
	display: none;
	}
div.col3 div.announcement,
div.getStarted{
	width: 181px;
	border: 1px solid #A7BDAE;
	margin-bottom: 2px;
	position: relative;
	}
div.getStarted{
	background-color: #F7F6EE;
	}
div.col3 div.announcement{
	background-color: #FFFFFF;
	}
.getStarted p{
	margin: 2px 10px;
	}
.announcement div{
	padding: 10px;
	}
div.announcement li{
	margin-bottom: 2px;
	}
div.content div.mainAnnouncement{
	color: #000000;
	font-size: 0.9em;
	margin: 15px 0;
	}
.left{
	text-align: left;
	}
.top{
	vertical-align: top;
	}
.bottom{
	vertical-align: bottom;
	}
.right{
	text-align: right;
	}
.indent{
	margin-left: 20px;
	}
.detail{
	font-size: 0.8em;
	color: #666666;
	}
.required{
	color: #B6652A;
	}

/* =======[ navigation tabs ]======= */
div.utility{
	position: absolute;
	top: 3px;
	left: 520px;
	z-index: 10;
	text-align: left;
	color: #136137;
	width: 380px;
	}
div.subMenu{
	margin-top: 10px;
	margin-bottom: 20px;
	}
div.subMenu a{
	font-size: inherit;
	margin: 0 5px;
	}
div.subMenu a.selected{
	font-size: inherit;
	margin: 0 5px;
	font-weight: bold;
	text-decoration: none;	
	}
.crumbs{
	font-size: .8em;
	color: #000000;
	margin-bottom: 5px;
	}
.liColText{
	width: 110px;
	text-align: left;
	}
.liColNum{
	width: 100px;
	text-align: right;
	}
div.debug{ /* displays code debugging on top */
	background-color: #ffcc33;
	border: 1px solid #000000;
	padding: 1em;
	margin: 4px 0;
	position: relative;
	z-index: 1000;
	}
.row{
	clear: both;
	}
.localSelect{
	position: absolute;
	top: 35px;
	left: 660px;
	width: 120px;
	z-index: 50;
	}
.pageOmatic{/* this is depricated*/
	float: left;
	}
div.comment{
	display: none;
	font-size: .9em;
	background-color: transparent;
	margin: 4px;
	padding: 6px;
	}
div.iconBar {
	width: 100%;
	text-align: right;
	padding: 2px;
	font-size:.9em;
	margin-top:7px;
	}
div.iconBar a{
	border: 1px solid #fff;
	}
div.iconBar a:hover{
	border: 1px solid #E7E195;
	}
div.iconBar a span{
	display: none;
	}
.showMe{
	display: none;
	}
.colorShade{
	background-color: #F2F8F5;
	}
div.block{
	line-height: 1.5em;
	margin: 0 0 10px 24px;
	}

