<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<libraries library-dir="./lib">
	</libraries>
	<depends plugin-name="com.iver.cit.gvsig"/>
	<depends plugin-name="com.iver.cit.gvsig.geoprocess"/>
	<depends plugin-name="com.iver.cit.gvsig.cad"/>
	<depends plugin-name="com.iver.core"/>
	<depends plugin-name="com.iver.cit.gvsig.geoprocessextensions"/>
	
	<resourceBundle name="text"/>
	<extensions>
		<extension class-name="org.gvsig.topology.CreateTopologyExtension"
				   description="Herramienta para la definición de reglas topológicas"
				   active="true">
			
			<menu text="Vista/Topology/Create_Topology" tooltip="Create_Topology" 
				action-command="CREATE_TOPOLOGY" 
				icon="create-topology" />
				
			
			
			<tool-bar name="Topology">
				<action-tool icon="create-topology"
							 action-command="CREATE_TOPOLOGY" 
							 tooltip="Create_Topology"
							 enable-text="load_vectorial_layers_in_toc" 
							 last="false"
							 position="1"/>
			</tool-bar>
		</extension>
		
		
		
		<extension class-name="org.gvsig.topology.LoadTopologyExtension"
			description="herramienta para cargar topologías de ficheros xml"
			active="true">
			
			<menu text="Vista/Topology/Load_Topology" tooltip="Load_Topology" 
				action-command="LOAD_TOPOLOGY" 
				icon="load-topology" />
			<tool-bar name="Topology">
				<action-tool icon="load-topology"
							 action-command="LOAD_TOPOLOGY" 
							 tooltip="Load_Topology"
							 enable-text="debería de estar activada" 
							 last="false" 
							 position="2"/>
			</tool-bar>
		 </extension>
		 
		 <extension class-name="org.gvsig.topology.TopologyCommandsExtension"
			description="herramienta para guardar topologías en ficheros xml"
			active="true">
			
			<menu text="Vista/Topology/Save_Topology" tooltip="Save_Topology" 
				action-command="SAVE_TOPOLOGY" 
				icon="create-topology" />
						
			<tool-bar name="Topology">
				<action-tool icon="save-topology"
							 action-command="SAVE_TOPOLOGY" 
							 tooltip="Save_Topology"
							 enable-text="select_a_topology_in_toc" 
							 last="false" 
							 position="3"/>
							 
				<action-tool icon="evaluate-topology"
							 action-command="EVALUATE_TOPOLOGY" 
							 tooltip="Evaluate_Topology"
							 enable-text="select_a_topology_in_toc" 
							 last="false" 
							 position="4"/>		 						 
			</tool-bar>
		 </extension>
		 
		 <!--extension class-name="org.gvsig.topology.ComputeBuildAndCleanExtension"
			description="herramienta para ejecutar los geoprocesos CLEAN y BUILD con capas de lineas"
			active="true">
			
			<menu text="Vista/Topology/COMPUTE_CLEAN" tooltip="Compute_Clean" 
				action-command="COMPUTE_CLEAN" 
				icon="compute-clean" />
				
			<menu text="Vista/Topology/Compute_Build" tooltip="Compute_Build" 
				action-command="COMPUTE_BUILD" 
				icon="compute-build" />
						
			<tool-bar name="Topology">
				<action-tool icon="compute-clean"
							 action-command="COMPUTE_CLEAN" 
							 tooltip="Compute_Clean"
							 enable-text="select_a_line_layer_in_toc" 
							 last="false" 
							 position="5"/>	
							 
				<action-tool icon="compute-build"
							 action-command="COMPUTE_BUILD" 
							 tooltip="Compute_Build"
							 enable-text="select_a_line_layer_in_toc" 
							 last="false" 
							 position="6"/>				 						 
			</tool-bar>
		 </extension-->
		 
		 
		 <extension class-name="com.iver.cit.gvsig.cad.TopologicalEditVertexExtension"
			description="herramienta para hacer edición topológica"
			active="true">
			
			
			<tool-bar name="Topology">
				<action-tool icon="topological-edit-vertex"
							 action-command="_topologicaleditvertex" 
							 tooltip="topological_edition"
							 enable-text="put_a_layer_of_topology_in_edition_mode" 
							 last="false" 
							 position="7"/>
			</tool-bar>
		 </extension>
		 
		 <extension class-name="com.iver.cit.gvsig.cad.SplitGeometryCADToolExtension"
			description="herramienta para dividir una geometria con una linea"
			active="true">
			
			
			<tool-bar name="Topology">
				<action-tool icon="split-geometry"
							 action-command="_split_geometry" 
							 tooltip="split_geometry"
							 enable-text="select_geometry_to_split" 
							 last="false" 
							 position="8"/>
			</tool-bar>
		 </extension>
		 <!-- @deprecated: this tool has been replaced by the AutoCompletePolygon tool
		 in extCAD, which provides similar behaviour but it's less buggy.
		 
		 <extension class-name="com.iver.cit.gvsig.cad.GenerateAdjacentPolygonCADToolExtension"
				   description="Herramienta para digitalizar capas continuas de poligonos"
				   active="false">		
		 			<tool-bar name="Topology">
					<action-tool icon="adjacent-polygon"
							 action-command="_adjacent_polygon"
							 tooltip="adjacent-polygon"
							 enable-text="put_a_polygon_layer_in_edition" 
							 last="false" 
							 position="9"/>
			</tool-bar>
		</extension>
		  -->
		 <extension class-name="com.iver.cit.gvsig.cad.SimplifyGeometry"
			description="herramienta para simplificar geometrias de 1 y 2 dimensiones"
			active="true">
			
			<tool-bar name="Topology">
				<action-tool icon="smooth-geometry"
							 action-command="simplify" 
							 tooltip="simplify_geometry"
							 enable-text="select_geometry_to_simplify" 
							 last="false" 
							 position="10"/>
			</tool-bar>
		 </extension>
		 
		 <extension class-name="com.iver.cit.gvsig.cad.SmoothGeometry"
			description="herramienta para suavizar geometrias de 1 y 2 dimensiones mediante curvas"
			active="true">
			
			<tool-bar name="Topology">
				<action-tool icon="curve-geometry"
							 action-command="curve" 
							 tooltip="smooth_geometry"
							 enable-text="select_geometry_to_smooth" 
							 last="false" 
							 position="11"/>
			</tool-bar>
		 </extension>
		 <!--
		  <extension class-name="org.gvsig.topology.ReferencingExtension"
			description="Herramienta para aplicar transformaciones sobre capas vectoriales"
			active="true">
			
			<tool-bar name="Topology">
				<action-tool icon="vectorial-adjust"
							 action-command="vectorial-adjust" 
							 tooltip="vectorial_adjust"
							 enable-text="select_vectorial_layer_to_adjust_in_toc" 
							 last="false" 
							 position="12"/>
			</tool-bar>
		 </extension>
		 -->
		 <extension class-name="org.gvsig.topology.RegisterGeoprocessesExtension"
		 			description="Registra los geoprocesos definidos en el proyecto de topologia en el gestor de geoprocesos
		 			            de gvsig"
		 			active="true"/>
		 			
		 			
		 <extension class-name="org.gvsig.topology.GeometryInfoExtension"
				   description="Herramienta para obtener información geométrica de features vectoriales"
				   active="true">		
		 		<tool-bar name="Topology">
					<action-tool icon="geometry-info"
							 tooltip="geometry-info"
							 enable-text="select_vectorial_layer" 
							 last="true" 
							 position="13"/>
			</tool-bar>
		</extension>
		
		<extension class-name="org.gvsig.AboutTopologyExtension"
			description="Extension to add about panel."
			active="true"/>
			
		<extension class-name="com.iver.cit.gvsig.geoprocess.util.StopEditingClean"
			description="Extension to stop the edition over a layer without prompt if want to save"
			active="true"/>
		<extension class-name="com.iver.cit.gvsig.geoprocess.util.StartEditingClean"
			description="Extension to start the edition over a layer without showing the console"
			active="true"/>
			
	</extensions>
</plugin-config>